

<link rel="stylesheet" href="/files/css/Header_Product.css">

<header>
    <div class="Container">
        <ul class="UL">
            <li>
                <a href="/">Other panel</a>
            </li>
            <li>
                <a href="/products_assistant/">Home</a>
            </li>
            <li>
                <a href="/products_assistant/add">Add</a>
            </li>
            <li>
                <a href="/products_assistant/list">List</a>
            </li>
            <li>
                <a href="/products_assistant/update">Update</a>
            </li>
            <li>
                <a href="/products_assistant/profile">Account</a>
            </li>
            <li>
                <a href="/products_assistant/logout">Logout</a>
            </li>
        </ul>
    </div>
</header>