<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP - Product assistant - GET SKY BUY</title>
    <link rel="stylesheet" href="/files/css/Login.css">
    <link rel="shortcut icon" href="/files/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
</head>
<body>
    <main class="container">
        <div class="box">
            <h1 title="Login">OTP - Product Assistant</h1>
            <form id="Form">
                <div  id="EmailDiv" class="Div_Input">
                    <input id="OTP" class="InputText" title="OTP" type="text" spellcheck="false" placeholder=" ">
                    <label class="Div_Input_Label" id="OTP_Label" for="OTP">OTP</label>
                </div>
                <div class="Div_Input" id="Next_DivBtn">
                    <button id="Next_Btn" type="button" onclick="Login();">Confirm OTP</button>
                </div>
            </form>
        </div>
    </main>
    <script src="/files/js/Message.js"></script>
    <script src="/files/js/Login_OTP_Products_Assistant.js"></script>
</body>
</html>