<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new product | GET SKY BUY</title>
    <meta name="robots" content="nofollow, noindex">
    <link rel="shortcut icon" href="/files/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/files/css/Product_Assistant_Add.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    

</head>
<body>
    include Header_Product.pug

    
    <main>
        <section class="Sec">
            <h1>Add new product</h1>
            <p>You can now add new product on the basis of the store ID.</p>
            <div class="Div_Input">
                <select title="Search Type" class="InputText" id="Type">
                    <option value=""> -- Select Option -- </option>
                    <option value="ID">ID</option>
                    <option value="Email">Email</option>
                    <option value="Mobile">Mobile Number</option>
                </select>
                
                <label class="Div_Input_Label" for="Type">Search Type</label>
            </div>
            <div class="Div_Input">
                <input class="InputText" id="Value" type="text" placeholder=" ">
                <label class="Div_Input_Label" for="Value">Enter Value</label>
            </div>
            <div class="Div_Input">
                <button id="Search_Seller" type="button" onclick="Search_Seller();">Search</button>
            </div>
            <div id="UL">
                <p><b>Seller data</b></p>
                <ul>
                    <li id="ID"></li>
                    <li id="Name"></li>
                    <li id="Store"></li>
                    <li id="Email"></li>
                    <li id="Mobile"></li>
                </ul>
            </div>



            <div id="MainAddProduct">
                <p><b>Add a new Product for this user.</b></p>
                

                <div class="Div_Input1">
                    <input class="InputText1" id="Product_ID" title="Product ID" type="text" placeholder=" ">
                    <label class="Div_Input_Label1" for="Product_ID">Product ID</label>
                </div>

                <div class="Div_Input1">
                    <select class="InputText1 Input_Select" id="Categories">
                        <option value="">---- Select Option ----</option>
                        | !{Categories}
                        
                    </select>
                    <label class="Div_Input_Label1" for="Categories">Categories</label>
                </div>

                
                <div class="Div_Input1">
                    <select class="InputText1 Input_Select" id="Gender">
                        <option value="">---- Select Gender ----</option>
                        <option value="Universal">Universal</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <label class="Div_Input_Label1" for="Gender">Gender</label>
                </div>

                <div class="Div_Input1">
                    <select class="InputText1 Input_Select" id="Age_Group">
                        <option value="">---- Select Age Group ----</option>
                        <option value="Universal">Universal</option>
                        <option value="9">Childs (Under - 9)</option>
                        <option value="20">Teens (Under - 20)</option>
                        <option value="45">Adult (Under - 45)</option>
                        <option value="80">Aged (60+)</option>
                    </select>
                    <label class="Div_Input_Label1" for="Age_Group">Age group</label>
                </div>

                <div class="Div_Input1">
                    <select class="InputText1 Input_Select" id="Occasion">
                        <option value="">---- Select Occasion ----</option>
                        <option value="Universal">Universal</option>
                        <option value="Casual">Casual</option>
                        <option value="Formal">Formal</option>
                        <option value="Sports">Sports</option>
                        <option value="Party">Party</option>
                        <option value="Style">Style</option>
                    </select>
                    <label class="Div_Input_Label1" for="Occasion">Occasion</label>
                </div>


                <div class="Div_Input1">
                    <input class="InputText1" id="Title" title="Title" type="text" placeholder=" ">
                    <label class="Div_Input_Label1" for="Title">Title</label>
                </div>
                <div class="Div_Input1">
                    <!-- <input class="InputText1" id="Title" title="Title" type="text" placeholder=" "> -->
                     <textarea class="InputText1" id="Description" placeholder=" "></textarea>
                    <label class="Div_Input_Label1" for="Description">Description</label>
                </div>

                <div class="Div_Input1">
                    <input class="InputText1" id="MRP" title="MRP" type="text" placeholder=" ">
                    <label class="Div_Input_Label1" for="MRP">MRP</label>
                </div>

                <div class="Div_Input1">
                    <input class="InputText1" id="Seller_Selling_Price" title="Seller selling price" type="text" placeholder=" ">
                    <label class="Div_Input_Label1" for="Seller_Selling_Price">Seller selling price</label>
                </div>

                <h4>Varieties</h4>
                <div class="Varities_Box" id="Varities_Box">
                    
                    
                    <div>
                        
                        <div class="Div_Input2">
                            <input class="InputText2" id="V_Type0" title="Varities type" type="text" placeholder=" ">
                            <label class="Div_Input_Label2" for="V_Type0">Type</label>
                        </div>
                        <div class="Div_Input2">
                            <input class="InputText2" id="V_Qty0" title="Quantities" type="number" placeholder=" ">
                            <label class="Div_Input_Label2" for="V_Qty0">Quantity</label>
                        </div>
                    </div>
                </div>
                    
                <div id="Varities_Btn_Box">
                    <button type="button" id="V_BTN" onclick="V_BTN(0);">Add more</button>
                </div>
                    
                    

                

                <div class="Div_Input1">
                    <input class="InputText1" id="Keywords" title="Keywords" type="text" placeholder=" ">
                    <label class="Div_Input_Label1" for="Keywords">Keywords</label>
                </div>


                


                <div class="Div_Input1">
                    <input class="InputText1" id="Brand" title="Brand" type="text" placeholder=" ">
                    <label class="Div_Input_Label1" for="Brand">Brand</label>
                </div>


                

                

                



                <h4>Table of content</h4>
                

                <div id="Table">

                    <div class="Table_Main_Box">
                        <div class="Div_Input2">
                            <input class="InputText2" id="Key0" title="Key" type="text" placeholder=" ">
                            <label class="Div_Input_Label2" for="Key0">Key</label>
                        </div>
                        <div class="Div_Input2">
                            <input class="InputText2" id="Value0" title="Value" type="text" placeholder=" ">
                            <label class="Div_Input_Label2" for="Value0">Value</label>
                        </div>
                    </div>

                    
                    
                </div>

                <div id="Btnnnnnn">
                    <button id="AddMore" onclick="AddMore(0);" type="button">Add More</button>
                </div>




                <div>
                    <div id="CenterBox1111">
                        <div class="CenterBox1111111111">

                            <h4>Image/Video</h4>
                            <div id="Add_ImageDiv">
                                <button onclick="Add_Image(0);" id="Add_Image" type="button">Image</button>
                            </div>
                            <div id="Add_VideoDiv">
                                <button onclick="Add_Video(0);" id="Add_Video" type="button">Video</button>
                            </div>
                            <button id="Cancel" type="button">Cancel</button>
                            
                        </div>
                    </div>
                    <h4>Images/Video Section</h4>
                    <button onclick="Add_Image_Video_Btn();" type="button" id="Add_Image_Video_Btn">Add Image/Video</button>
                    <div id="Images_Video">
                        
                    </div>
                </div>









                <div id="FinalDiv">
                    <button onclick="FinalSubmitBtn();" id="FinalSubmitBtn" type="button">Add the product</button>
                </div>

            </div>



        </section>
    </main>
    <script src="/files/js/Message.js"></script>
    <script src="/files/js/Product_Assistant_Add.js"></script>
</body>
</html>