
.InputText {
    outline: none;
    border: 1px solid #4f4f4f;
    padding: 12px 14px 12px 14px;
    width: calc(100% - 30px);
    border-radius: 4px;
    transition: 200ms box-shadow;
}

.Div_Input {
    margin: 10px auto;
    position: relative;
    top: 0px;
}

.InputText:hover,
.InputText:focus {
    outline: none;
    border: 2px solid var(--Seconday-primary-color);
    box-shadow: 0 0 7px var(--secondaryHov-color);
}

.Div_Input_Label {
    border-radius: 3px;
    position: absolute;
    left: 14px;
    top: 12px;
    font-size: 13px;
    transition: 100ms;
    user-select: none;
}

.InputText:focus ~ .Div_Input_Label,
.InputText:not(:placeholder-shown) ~ .Div_Input_Label {
    transition: 100ms;
    position: absolute;
    left: 10px;
    padding: 0 4px;
    top: -4px;
    background-color: white;
    font-size: 11.5px;
}












#Type {
    cursor: pointer;
}
.Sec {
    margin: 30px auto;
    margin-bottom: 100px;
    width: 90%;
    /* background-color: #e6e6e6; */
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px #aaa;
    padding: 20px;
}
.heading1{
    margin: 0px;
    padding: 0px;
}


#Search_Seller {
    width: 100%;
    display: block;
    padding: 10px 15px;
    border: none;
    background-color: orange;
    cursor: pointer;
    outline: none;
    transition: 200ms;
    border-radius: 50px;
    font-size: 15px;
}

#Search_Seller:hover {
    background-color: rgb(233, 151, 0);

}
#Search_Seller:focus {
    background-color: rgb(233, 151, 0);

}


#Cancel {
    margin: 4px 0px;
    width: 100px;
    display: block;
    padding: 5px 10px;
    border: none;
    background-color: rgb(255, 166, 0);
    cursor: pointer;
    outline: none;
    transition: 200ms;
    border-radius: 50px;
    font-size: 15px;
}

#Cancel:hover {
    background-color: rgb(233, 151, 0);

}
#Cancel:focus {
    background-color: rgb(233, 151, 0);

}










#Add_Image {
    margin: 4px 0px;
    width: 100px;
    display: block;
    padding: 5px 10px;
    border: none;
    background-color: rgb(255, 193, 79);
    cursor: pointer;
    outline: none;
    transition: 200ms;
    border-radius: 50px;
    font-size: 15px;
}

#Add_Image:hover {
    background-color: rgb(233, 151, 0);

}
#Add_Image:focus {
    background-color: rgb(233, 151, 0);

}













#Add_Video {
    margin: 4px 0px;
    width: 100px;
    display: block;
    padding: 5px 10px;
    border: none;
    background-color: rgb(255, 183, 50);
    cursor: pointer;
    outline: none;
    transition: 200ms;
    border-radius: 50px;
    font-size: 15px;
}

#Add_Video:hover {
    background-color: rgb(233, 151, 0);

}
#Add_Video:focus {
    background-color: rgb(233, 151, 0);

}









#FinalSubmitBtn {
    width: 100%;
    margin: 4px 0px;
    display: block;
    padding: 10px 15px;
    border: none;
    background-color: orange;
    cursor: pointer;
    outline: none;
    transition: 200ms;
    border-radius: 50px;
    font-size: 15px;
}

#FinalSubmitBtn:hover {
    background-color: rgb(233, 151, 0);

}
#FinalSubmitBtn:focus {
    background-color: rgb(233, 151, 0);

}






#Add_Image_Video_Btn {
    width: 200px;
    margin: 4px 0px;
    display: block;
    padding: 10px 15px;
    border: none;
    background-color: orange;
    cursor: pointer;
    outline: none;
    transition: 200ms;
    border-radius: 50px;
    font-size: 15px;
}

#Add_Image_Video_Btn:hover {
    background-color: rgb(233, 151, 0);

}
#Add_Image_Video_Btn:focus {
    background-color: rgb(233, 151, 0);

}


#AddMore {
    width: 200px;
    display: block;
    padding: 10px 15px;
    border: none;
    background-color: orange;
    cursor: pointer;
    outline: none;
    transition: 200ms;
    border-radius: 50px;
    font-size: 15px;
}

#AddMore:hover {
    background-color: rgb(233, 151, 0);

}
#AddMore:focus {
    background-color: rgb(233, 151, 0);

}

#UL {
    display: none;
}

/* #MainAddProduct {
    display: none;
} */




.InputText1 {
    outline: none;
    border: 1px solid #4f4f4f;
    padding: 12px 14px 12px 14px;
    width: 100%;
    /* max-width: 350px; */
    border-radius: 4px;
    transition: 200ms box-shadow;
}

.Div_Input1 {
    margin: 10px auto;
    position: relative;
    top: 0px;
}

.InputText1:hover,
.InputText1:focus {
    outline: none;
    border: 2px solid var(--Seconday-primary-color);
    box-shadow: 0 0 7px var(--secondaryHov-color);
}

.Div_Input_Label1 {
    border-radius: 3px;
    position: absolute;
    left: 14px;
    top: 12px;
    font-size: 13px;
    transition: 100ms;
    user-select: none;
}

.InputText1:focus ~ .Div_Input_Label1,
.InputText1:not(:placeholder-shown) ~ .Div_Input_Label1 {
    transition: 100ms;
    position: absolute;
    left: 10px;
    padding: 0 4px;
    top: -4px;
    background-color: white;
    font-size: 11.5px;
}












.InputText2 {
    outline: none;
    border: 1px solid #4f4f4f;
    padding: 12px 14px 12px 14px;
    width: 170px;
    /* max-width: 350px; */
    border-radius: 4px;
    transition: 200ms box-shadow;
}

.Div_Input2 {
    margin: 5px auto;
    position: relative;
    top: 0px;
    display: inline-block;
}

.InputText2:hover,
.InputText2:focus {
    outline: none;
    border: 2px solid var(--Seconday-primary-color);
    box-shadow: 0 0 7px var(--secondaryHov-color);
}

.Div_Input_Label2 {
    border-radius: 3px;
    position: absolute;
    left: 14px;
    top: 12px;
    font-size: 13px;
    transition: 100ms;
    user-select: none;
}

.InputText2:focus ~ .Div_Input_Label2,
.InputText2:not(:placeholder-shown) ~ .Div_Input_Label2 {
    transition: 100ms;
    position: absolute;
    left: 10px;
    padding: 0 4px;
    top: -4px;
    background-color: white;
    font-size: 11.5px;
}

































#Description {
    font-family: sans-serif;
    width: 100%;
    min-height: 200px;
    resize:vertical;
}


.Input_Select {
    cursor: pointer;
    width:fit-content;
}




















#CenterBox1111 {
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index:99;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.178);
    
}

.CenterBox1111111111 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px #ffb8b8;
    width: 200px;
    height: 230px;
    background-color: white;
}

.CenterBox1111111111 h4{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    margin-bottom: 15px;
    text-decoration: underline;
}









.III {
    width: 100%;
}

.Images_Videos {
    width: 800px;
    display: block;
    margin: 10px auto;

}
.DeleteImage {
    width: 800px;
    background-color: var(--Seconday-primary-color);
    padding: 10px;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    display: block;
    margin: 10px auto;
    transition-duration: 200ms;
    cursor: pointer;
}
.DeleteImage:hover, .DeleteImage:focus {
    text-decoration: underline;
}
.DeleteImage:active {
    background-color: orange;
    text-decoration: underline;
}
.DeleteVideos {
    width: 800px;
    background-color: var(--Seconday-primary-color);
    padding: 10px;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    display: block;
    margin: 10px auto;
    transition-duration: 200ms;
    cursor: pointer;
}
.DeleteVideos:hover, .DeleteImage:focus {
    text-decoration: underline;
}
.DeleteVideos:active {
    background-color: orange;
    text-decoration: underline;
}


.IframeVideo {
    width: 800px;
    display: block;
    margin: 10px auto;
    height: 450px;
}



































































