
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us - Home | GET SKY BUY</title>
    
    <meta name="robots" content="nofollow, noindex">
    <link rel="shortcut icon" href="/files/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/files/css/Contact_Us_Home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
     
</head>
<body>
    include ./Contact_Us_Header.pug

    <table>
        <tr>
            <td><strong>Name</strong></td>
            <td><strong>Contact</strong></td>
            <td><strong>Reason</strong></td>
            <td><strong>Managing</strong></td>
        </tr>

        | !{LIST}
    </table>
    
    
    <script src="/files/js/Message.js"></script>
    <script src="/files/js/Contact_Us_Home.js"></script>
    
</body>
</html>