

<link rel="stylesheet" href="/files/css/Header_Contact_Us.css">


<header>
    <div class="CenterLi">

        <div class="logo">
            <a href="/contact_us">
                <img style="border-radius: 6px;" height="100%" src="/files/img/GSB-Full-Logo.webp" alt="GSB Logo">
                
            </a>
        </div>
        <ul>
            <li class="Down" id="Down1">
                <button type="button" id="DownBoxBtn" title="Home">Home&#11206;</button>
                <div class="DownBox" id="DownBox">
                    <a href="/contact_us">Home</a>
                    <a href="/contact_us/select">My selected</a>
                    <a href="/contact_us/search">Search</a>
                    <a href="/contact_us/profile">My Profile</a>
                </div>
            </li>
            <li>
                <button type="button" onclick="window.location.replace('/');" title="Other panel">Other panel</button>
            </li>
            <li>
                <button type="button" onclick="window.location.replace('/contact_us/logout');" title="Logout">Logout</button>
            </li>
        </ul>
    </div>
    
    
</header>
<script src="/files/js/Header_Contact_Us.js"></script>