<link rel="stylesheet" href="/files/css/Admin_Header.css">
<header>

    <nav>
        <li>
            <button type="button" onclick="window.location.replace('/admin');" title="Home">Home</button>
            
        </li>
        <li>
            <button type="button" onclick="window.location.replace('/');" title="Other Panels">Other Panels</button>
        </li>
        <li>
            <button type="button" onclick="window.location.replace('/admin/qr_code');" title="QR Codes">QR Codes</button>
        </li>
        <li>
            <button type="button" onclick="window.location.replace('/admin/logout');" title="Logout">Logout</button>
        </li>
    </nav>
</header>
