<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Codes</title>
    <link rel="stylesheet" href="/files/css/QR_Code_Page.css">
    
    <meta name="robots" content="nofollow, noindex">
    <link rel="shortcut icon" href="/files/img/favicon.ico" type="image/x-icon">
    
</head>
<body>
    <div class="container">
        <div class="PDF">
            | !{UniqueCodes}
        </div>
    </div>
</body>
</html>