

<link rel="stylesheet" href="/files/css/Header_Seller.css">


<header>
    <div class="CenterLi">

        <div class="logo">
            <a href="/sellers_assistant">
                <img style="border-radius: 6px;" height="100%" src="/files/img/GSB-Full-Logo.webp" alt="GSB Logo">
                
            </a>
        </div>
        <ul>
            <li class="Down" id="Down1">
                <button type="button" id="DownBoxBtn" title="Home">Home&#11206;</button>
                <div class="DownBox" id="DownBox">
                    <a href="/sellers_assistant">Home</a>
                    <a href="/sellers_assistant/profile">My Profile</a>
                    <a href="/sellers_assistant/list">List</a>
                    <a href="/sellers_assistant/update">Update</a>
                    <a href="/sellers_assistant/search">Search</a>
                    <a href="/sellers_assistant/shop/status">Shop Status</a>
                    <a href="/sellers_assistant/issue">Issue</a>
                </div>
            </li>
            <li>
                <button type="button" onclick="window.location.replace('/');" title="Other panel">Other panel</button>
            </li>
            <li>
                <button type="button" onclick="window.location.replace('/sellers_assistant/logout');" title="Logout">Logout</button>
            </li>
        </ul>
    </div>
    
    
</header>
<script src="/files/js/Header_Seller.js"></script>