<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSB - Company</title>
    <link rel="stylesheet" href="/files/css/Home.css">
    <meta name="robots" content="nofollow, noindex">
    <link rel="shortcut icon" href="/files/img/favicon.ico" type="image/x-icon">
</head>
<body>


    <div class="container">
        <h1 style="margin: 0; color: white; padding: 50px; border-bottom: 2px solid white;"><center>GET SKY BUY</center></h1>
        <center style="border-bottom: 2px solid white;"><a href="/sellers" class="BoxEs">Sellers - Store </a></center>
        <div class="box">
            <a href="/admin" class="BoxEs">Admin Panel</a>
            <a href="/seller_assistants" class="BoxEs">Seller Panel</a>
            <a href="/assistants/product" class="BoxEs">Product Panel</a>
            <a href="/assistants/order" class="BoxEs">Order Panel</a>
            <a href="/assistants/delivery" class="BoxEs">Delivery Panel</a>
            <a href="/assistants/contactus" class="BoxEs">Contact us</a>
            <a href="/assistants/payment" class="BoxEs">Payment Panel</a>
            <a href="/assistants/complaint" class="BoxEs">Complaint Panel</a>
            <a href="/assistants/analytics" class="BoxEs">Analytics Panel</a>
        </div>
        <footer><a href="mailto:info@getskybuy.in"><center>MAIL US</center></a></footer>
        <h1 style="margin: 0; color: white; padding: 50px; border-bottom: 2px solid white;"><center>GET SKY BUY</center></h1>
        <br><br><br>
    </div>
</body>
</html>