<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSB - Company</title>
    <link rel="stylesheet" href="/files/css/Home.css">
    <meta name="robots" content="nofollow, noindex">
    <link rel="shortcut icon" href="/files/img/favicon.ico" type="image/x-icon">
</head>
<body>


    <div class="container">
        <h1 style="margin: 0; color: white; padding: 50px; border-bottom: 2px solid white;"><center>GET SKY BUY</center></h1>
        <div class="box">
            
            <a href="/admin" class="BoxEs">Admin Panel</a>
            <a href="/seller" class="BoxEs">Seller Panel</a>
            <a href="/product" class="BoxEs">Product Panel</a>
            <a href="/order" class="BoxEs">Order Panel</a>
            <a href="/delivery" class="BoxEs">Delivery Panel</a>
            <a href="/contactus" class="BoxEs">Contact us</a>
            <a href="/payment" class="BoxEs">Payment Panel</a>
            <a href="/complaint" class="BoxEs">Complaint Panel</a>
            <a href="/analytics" class="BoxEs">Analytics Panel</a>
            
        </div>
        
        <footer><a href="mailto:getskybuy@gmail.com"><center>MAIL US</center></a></footer>
        <h1 style="margin: 0; color: white; padding: 50px; border-bottom: 2px solid white;"><center>GET SKY BUY</center></h1>
        <br><br><br>
    </div>






</body>
</html>